* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
}

.pad-h {
  padding-top: 82px;
}

.card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.img-position {
  display: flex;
  align-items: flex-end;
  max-width: 100%;
  height: 100%;
  background-image: url(../img/image\ 2\ \(3\).png);
}

.title-cont {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 18px 30px;
}

.date-1 {
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #818181;
}

.first-title {
  font-family: Roboto;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.row-pad {
  padding-top: 19px;
}

.img-1 {
  height: 540px;
}

.img {
  max-width: 100%;
}

.date {
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #818181;
  padding: 20px 20px 9px;
}

.title {
  font-family: Roboto;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  color: #1d1d1d;
  padding: 0px 20px;
  padding-bottom: 90px;
}
/**/
.icon {
  padding: 0px 20px 20px;
}

.footer {
  height: 218px;
}

.img-position {
  transition: all 1s ease;
}

.img-position:hover {
  filter: contrast(175%);
}

.img {
  transition: all 1s ease;
}

.img:hover {
  filter: contrast(175%);
}
